<div class="card">
    <div class="card-body py-0 pt-2 d-flex justify-content-between">
        <div class="d-flex justify-content-start align-items-center gap-3">
            <h3>{{data.message}}</h3>
            {{#badgeStatus data.status}}
                {{this}}
            {{/badgeStatus}}
        </div>
        <ul class="d-flex gap-4">
            <li style="list-style: none;">
                <a href="/quote" class="btn btn-primary">
                    lista
                    <i class="bi bi-card-list"></i>
                </a>
            </li>
            {{#isValid user.id data.doctorReference.id}}
                    {{#isValid data.status "PROCESADO"}}
                        <li style="list-style: none;">
                            <button class="btn btn-primary d-flex gap-2" data-toggle="modal" data-target="#modalAprovedQuote">
                                APROVAR
                                <i class="bi bi-pen-fill"></i>
                            </button>
                        </li>
                    {{/isValid}}
            {{/isValid}}

            {{#isDoctor user}}
                {{#isValid data.status "APROVADO"}}
                    <li style="list-style: none;">
                        <button class="btn btn-primary d-flex gap-2" data-toggle="modal" data-target="#modalFinishQuote">
                            FINALIZAR
                            <i class="bi bi-band"></i>
                        </button>
                    </li>
                {{/isValid}}
            {{/isDoctor}}

            {{#if data.quoteDetailReference.descriptionPatient}}

            {{else}}
            
                {{#isPatient user}}
                    {{#isValid data.status "FINALIZADO"}}
                        <li style="list-style: none;">
                            <button class="btn btn-primary d-flex gap-2" data-toggle="modal" data-target="#modalFinishQuotePatient">
                                FINALIZAR
                                <i class="bi bi-band"></i>
                            </button>
                        </li>
                    {{/isValid}}
                {{/isPatient}}
            {{/if}}
        </ul>
    </div>
</div>
<div class="card mby-3">
    <div class="card-body">
   
        <div class="card">
            <div class="card-body">
                {{#if data.doctorReference}}
                    <h5>Doctor(a) {{data.doctorReference.name}} {{data.doctorReference.lastname}}</h5>
                    
                    {{#if data.quoteDetailReference}}
                        <ul>
                            <li>Calificaci贸n: {{data.quoteDetailReference.starDoctor}}</li>
                            <li>Qualificaci贸n: {{data.quoteDetailReference.descriptionDoctor}}</li>
                            <li>Atendido: {{data.quoteDetailReference.endDateDoctor}}</li>
                        </ul>
                    {{/if}}
                {{else}}
                    <p class="lead text-muted">no hay doctor</p>
                {{/if}}
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                {{#if data.patientReference}}
                    <h5>Paciente {{data.patientReference.name}} {{data.patientReference.lastname}}</h5>

                    {{#if data.quoteDetailReference}}
                        <ul>
                            <li>Calificaci贸n: {{data.quoteDetailReference.starPatient}}</li>
                            <li>Qualificaci贸n: {{data.quoteDetailReference.descriptionPatient}}</li>
                            <li>Atendido: {{data.quoteDetailReference.endDatePatient}}</li>
                        </ul>
                    {{/if}}
                {{else}}
                    <p class="lead text-muted">no hay paciente</p>
                {{/if}}
            </div>
        </div>

   </div>
</div>