<div class="card">
    <div class="card-body py-0 pt-2 d-flex justify-content-between">
        <h3>{{data.name}}</h3>
        <ul class="d-flex gap-4">
            <li style="list-style: none;">
                <a href="/user" class="btn btn-primary">
                    lista
                    <i class="bi bi-card-list"></i>
                </a>
            </li>
            {{#isAdmin user}}
            <li style="list-style: none;">
                <button class="btn btn-primary d-flex gap-2" data-toggle="modal" data-target="#modalAdminUser">
                    actualizar
                    <i class="bi bi-pen-fill"></i>
                </button>
            </li>
            {{/isAdmin}}
            {{#isAdmin user}}
                <li style="list-style: none;">
                    <button class="btn btn-primary d-flex gap-2" data-toggle="modal" data-target="#modalNotification">
                        notificar
                        <i class="bi bi-bell-fill"></i>
                    </button>
                </li>
            {{/isAdmin}}
        </ul>
    </div>
</div>
<div class="card mby-3">
    <div class="card-body">
        <h3>{{data.name}} {{data.lastname}}</h3>
        <ul>
            <li><b>{{data.role}}</b></li>
            <li>Cédula: <b>{{data.ci}}</b></li>
            <li>Correo: <b>{{data.email}}</b></li>
            <li>Teléfono: <b>{{data.phoneCode}} {{data.phoneNumber}}</b></li>
        </ul>
    
        {{#if data.parentReference}}
        <ul>
            <li>
                Creado por: <a href="/user/{{data.parentReference.id}}">{{data.parentReference.name}} {{data.parentReference.lastname}}</a></li>
        </ul>
        {{/if}}

        {{#isDoctor data}}

            <div class="card mt-3">
                <div class="card-body">
                    <h5>Datos</h5>
                    <ul>
                        <li>CMEG N: {{data.cmeg_n}}</li>
                        <li>Matrícula: {{data.matricula}}</li>
                        <li>Pacientes atendidos: {{data._count.patient}}</li>
                        <li>Especialidades: {{data._count.speciality}}</li>
                    </ul>
                </div>
            </div>


            <div class="card mt-3">
                <div class="card-body">
                    {{#if data.speciality}}
                        <h5>Especialidades</h5>
                        <ul>
                            {{#each data.speciality}}
                                <li class="">{{this.specialityReference.name}}</li>
                            {{/each}}
                        </ul>
                    {{else}}
                        no hay especialidad
                    {{/if}}
                </div>
            </div>

            {{#if data.schedule}}
                <div class="card mt-3">

                    {{#each data.schedule}}
                        <div class="card-body">
                            <h5>Horario Activo</h5>

                            <p>{{this.description}}</p>
                            <div class="container">
                                <div class="row">
                                    {{!-- {{this.}} --}}
                                    {{#each this.detail}}
                                        <div class="card col">
                                            <h5>{{this.day}}</h5>
                                            <p class="w-100 text-center border"><small>{{this.time_start}}</small></p>
                                            <p class="w-100 text-center border"><small>{{this.time_end}}</small></p>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{else}}
                no hay especialidad
            {{/if}}
        {{/isDoctor}}

        <div class="card mt-3">
            <div class="card-body">
                <h5>Dirección</h5>
                <ul class="d-flex gap-3">
                    <a href="/address/{{data.addressReference.parentReference.parentReference.id}}">{{data.addressReference.parentReference.parentReference.description}}</a>
                    >
                    <a href="/address/{{data.addressReference.parentReference.id}}">{{data.addressReference.parentReference.description}}</a>
                    >
                    <a href="/address/{{data.addressReference.id}}">{{data.addressReference.description}}</a>
                </ul>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="userId" value="{{data.id}}" />
<input type="hidden" id="role" value="{{data.role}}" />

<div class="row">
    <div class="col-12">
        <div class="card shadow border-left-info py-2">
            <div class="card-header">
                <select name="" class="form-control" id="monthSelect">
                    <option>selecciona una opción</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="spaceCiteQuoteMonth"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="card shadow border-left-info py-2">
            <div class="card-header">
                <select name="" class="form-control" id="yearSelect">
                    <option>selecciona una opción</option>
                    {{#each year}}
                        <option value="{{this.year}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="spaceCiteQuoteYear"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
