
<div class="row mb-3">
    <div class="card col-12">
        <div class="card-header">
            <div class="card-title">Filtros</div>
        </div>
        <div class="card-body container">
            <form action="/patient/doctor" method="GET" class="row">
                <div class="form-floating col-12 col-lg-6 mb-3">
                    <input class="form-control" name="param" id="param" value="{{filter.param}}" type="text" placeholder="param@example.com" />
                    <label for="param">Doctor</label>
                </div>

                <div class="form-floating col-12 col-lg-6 mb-3">
                    <input class="form-control" name="addressName" id="addressName" value="{{filter.addressName}}" type="text" placeholder="name@example.com" />
                    <label for="addressName">Dirección</label>
                </div>

                <div class="form-floating col-12 col-lg-6 mb-3">
                    <input class="form-control" name="espName" id="espName" value="{{filter.espName}}" type="text" placeholder="name@example.com" />
                    <label for="espName">Especialidad</label>
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                    Buscar
                </button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="card mb-4 px-0 w-100">
        <div class="card-header d-flex justify-content-between align-items-center w-100">
            <div class="d-flex align-items-center gap-4">
                <i class="bi bi-grid-3x3 me-1"></i>
                {{titlePag}}
            </div>
            
            <ul class="d-flex justify-content-center">
                {{#if foundPrevious}}
                    <li class="btn btn-outline-primary" style="list-style: none;"><a style="text-decoration: none;" href="{{urlPrevious}}">anterior</a></li>
                {{else}}
                    <li class="" style="list-style: none;"></li>
                {{/if}}
                
                <li class="btn" style="list-style: none;">{{countRender}}</li>

                {{#if foundNext}}
                    <li class="btn btn-outline-primary" style="list-style: none;"><a style="text-decoration: none;" href="{{urlNext}}">siguiente</a></li>
                {{else}}
                    <li class="" style="list-style: none;"></li>
                {{/if}}
            </ul>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            {{#each labels}}
                                <th class="text-center">{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#if list}}
                            {{#each list}}
                                <tr>
                                    <td>{{this.name}} {{this.lastname}}</td>
                                    <td>
                                        {{#each this.speciality}}
                                            - {{this.specialityReference.name}}
                                        {{/each}}
                                    </td>
                                    <td>{{this.addressReference.description}}</td>
                                    <td>{{this._count.speciality}}</td>
                                    <td class="d-flex justify-content-center">
                                        <a href="/porfolio/?id={{this.id}}" class="btn btn-primary btn-sm mx-1">
                                            <i class="bi bi-person-circle"> portafolio</i>
                                        </a>
                                        <a href="/patient/quote/create/?doctorId={{this.id}}" class="btn btn-success btn-sm mx-1">
                                            <i class="bi bi-clipboard-fill"> agendar</i>
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}
                        {{else}}
                            <p>{{notFoundMessage}}</p>
                        {{/if}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
